<%include partials/header.ejs %>
  <div class="jumbotron">
  <h1>Welcome to Earth </h1>
    
  </div>
  <div class="row center-block">
      <div class="col-md-4 well-sm">
        <div class="thumbnail ">  
          <!-- <img class="img-rounded " width="500 px" src="/img/earth.jpg" alt="Image of Earth" /> -->
          <iframe src="https://solarsystem.nasa.gov/gltf_embed/2392" height="450px" width="100%" frameborder="0"></iframe>
          <div class="caption">
            <p class="small">Fig2. Earth, our "Pale Blue Dot"<br> 
                              source: https://www.space.com/54-earth-history-composition-and-atmosphere.html</p>
          </div> 
        </div>
      </div>
    </div>
  
  <div class="container" id="contentContainer">
    <h2>A little bit about Earth</h2>
    <hr>
    <p> Earth is the 3rd planet from the sun, and has the most unique characteristics out of any planet in our solar system. As the only <br />
       planet with a rich oxygen atmosphere and large surface oceans of water, Earth has the only hosbitable environment that is able to sustain life.<br /> 
       Because it is our home planet, we use its measurements as standards to compare all other planets. Our days are measured by its time to complete one rotation<br/>
       around its axis and our years are as long as it takes for Earth to complete one revolution around the sun.</p>
  </div>
  
   <br /> 
<%include partials/footer.ejs %>