<%include partials/header.ejs %>
  <div class="jumbotron">
  <h1>Welcome to Mars </h1>
    
  </div>
  <div class="row center-block">
      <div class="col-md-4 well-sm">
        <div class="thumbnail ">  
          <!-- <img class="img-rounded " width="500 px" src="/img/earth.jpg" alt="Image of Earth" /> -->
          <iframe src="https://solarsystem.nasa.gov/gltf_embed/2372" width="100%" height="450px" frameborder="0"></iframe>
          <div class="caption">
            <p class="small">Fig2. Mars, the "Red Planet".<br> 
                              source: https://solarsystem.nasa.gov/planets/mars/overview/</p>
          </div> 
        </div>
      </div>
    </div>
  
  <div class="container" id="contentContainer">
    <h2>A little bit about Mars</h2>
    <hr>
    <p> Mars is the 4th planet from the sun. It is the closest planet to Earth and, consequently, the planet we have studies the most. <br />
       Most recently, we have sent the Curiosity Rover to the surface of Mars. Launched in 2012, the Curiosity rover is still gathering 
       information from the surface of Mars. The next planned mission to Mars, Mars 2020, will send another rover to Mars.<br /> 
       </p>
  </div> 
   <br /> 
<%include partials/footer.ejs %>