<%include partials/header.ejs %>
  <div class="jumbotron">
  <h1>Welcome to Mercury </h1>
    
  </div>
  <div class="row center-block">
      <div class="col-md-4 well-sm">
        <div class="thumbnail ">  
          <img class="img-rounded " width="500 px" src="/img/mercury.jpg" alt="Diagram of Mercury" />
          <div class="caption">
            <p class="small">Fig2. Due to its relatively large iron core, Mercury is very dense. <br> source: https://www.space.com/63-inside-planet-mercury-infographic.html</p>
          </div> 
        </div>
      </div>
    </div>
  
  <div class="container" id="contentContainer">
    <h2>A little bit about Mercury</h2>
    <hr>
    <p>Mercury is the first planet in the solar system, as it is the closest to our sun. Being only slightly smaller than Earth's moon, Mercury is the smallest <br/>
      in our solar system. (After the reclassification of Pluto to a dwarf moon, of course.) In 2004, NASA launched the "Messenger" probe satellite. It took 7 years <br/>
      to reach Mercury and has been orbiting the planet since.</p>
  </div>
  
   <br /> 
<%include partials/footer.ejs %>