<%include partials/header.ejs %>
  <div class="jumbotron">
  <h1>Welcome to Venus </h1>
    
  </div>
  <div class="row center-block">
      <div class="col-md-4 well-sm">
        <div class="thumbnail ">  
          <img class="img-rounded " width="500 px" src="/img/venus.jpg" alt="Image of Venus" />
          <div class="caption">
            <p class="small">Fig2. Venus, the hottest planet in the solar system. <br> 
                              source: https://www.space.com/44-venus-second-planet-from-the-sun-brightest-planet-in-solar-system.html</p>
          </div> 
        </div>
      </div>
    </div>
  
  <div class="container" id="contentContainer">
    <h2>A little bit about Venus</h2>
    <hr>
    <p> Venus is the second closest planet to the sun, and is the closest in size to Earth. Because of this, its sometimes called <br />
     Earth's twin. The conditions on Venus are often reffered to as "hellish". Because of a thick, dense atmosphere of carbon dioxide and clouds of sulphur <br /> 
     very little heat escapes from the surface of Venus. Temperatures on Venus rise as high as 870&deg F.<br/>
     </p>
  </div>
  
   <br /> 
<%include partials/footer.ejs %>